fastapi==0.115.0
uvicorn==0.31.0
instructor==1.4.3
openai==1.51.0
pydantic-settings==2.5.2
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
redis==5.0.8
python-multipart==0.0.12
httpx==0.27.2
pip-system-certs; sys_platform == 'win32'
lark==1.2.2
websockets
ifcopenshell
