POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_HOST=
REDIS_PORT=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

# Security & Mail
JWT_SECRET=
MAIL_USERNAME=
MAIL_PASSWORD=

# VWorld API Configuration
VWORLD_API_KEY=
VWORLD_REFERER=

# Frontend Settings
VITE_KAKAO_MAP_API_KEY=
VITE_API_URL=